# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\编程\Java\项目\pro\图书管理系统源码\图书管理系统源码\BookMngerSystem\BookMngerSystem\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
